@page
@model SeniorLibrary.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Add your requests here</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entrying[0].SubmittorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrying[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrying[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrying[0].SubmittedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entrying) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
